* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 204, 204);
}

h1, h2, h3, h4 ,h5 , h6 {
    color: rgb(253, 38, 38);
}

p, label {
    color: rgb(248, 83, 83);
}

input {
    border: none;
    border-bottom: 1px solid #fcf9f9ec;
    padding: 10px 0;
}

input[type="text"], input[type="number"], input[type="date"], input[type="file"], textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px; 
}

.cabecalho {
    height: 160px;
    padding: 20px;
    background-color: #8a0000;
}

.cabecalho h3 {
    color: #e60101;
    margin-top: 0;
}

.form-container {
    background-color: #ffffff;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -46px;
}

.form-header {
    border-bottom: 1px solid #c4c2c2e5;
    height: 45px;
}

.form-header p {
    color: #8a0000;
    border-bottom: 2px solid #8a0000;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 40px;
    line-height: 45px;
}

.form-body {
    padding: 30px;
}

.form-titulo {
    margin-bottom: 15px;
} 

.form-body p {
    margin-bottom: 15px;
}

.campo-obrigatorio {
    color: #e60101;
}
